.ant-message{
    font-size: 14*2px;
    .ant-message-notice{
        padding: 8*2px;
        &:first-child {
            margin-top: -8*2px;
        }
        &-content{
            padding: 10*2px 16*2px;
            border-radius: 4*2px;
            box-shadow: 0 4*2px 12*2px rgba(0, 0, 0, 0.15);
        }
    }
   .anticon{
       margin-right: 8*2px;
       font-size: 16*2px;
       top: 1*2px;
   }
}
